<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.apple.alfred.workflow.vpn</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0C6D36A2-FD34-4DD3-8D22-1FC0F45AE5B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDE766A9-46CC-4975-9921-EE5CB0A6C6D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F05901D-E10F-4A6D-A73F-91B601A6FF9A</key>
		<array/>
		<key>C3679DB6-2A8B-4D0F-AEC0-AD87C9469B1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C6D36A2-FD34-4DD3-8D22-1FC0F45AE5B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDE766A9-46CC-4975-9921-EE5CB0A6C6D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F05901D-E10F-4A6D-A73F-91B601A6FF9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A640DD36-D318-49A1-8B6A-824BC7362F4D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D5D5C83-9DA6-4C54-8D3C-E18FB9556941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Connect/ Disconnect to VPN Network</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN Connector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>scutil --nc start "$vpn2"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F05901D-E10F-4A6D-A73F-91B601A6FF9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>vpn_list.py</string>
				<key>subtext</key>
				<string>Connect/ Disconnect to VPN</string>
				<key>title</key>
				<string>VPN Connector</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C3679DB6-2A8B-4D0F-AEC0-AD87C9469B1D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:vpn1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>connect</string>
						<key>outputlabel</key>
						<string>Connect</string>
						<key>uid</key>
						<string>A640DD36-D318-49A1-8B6A-824BC7362F4D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Disconnect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FDE766A9-46CC-4975-9921-EE5CB0A6C6D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>vpn</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>0C6D36A2-FD34-4DD3-8D22-1FC0F45AE5B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>scutil --nc stop "$vpn2"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D5D5C83-9DA6-4C54-8D3C-E18FB9556941</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C6D36A2-FD34-4DD3-8D22-1FC0F45AE5B7</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>8D5D5C83-9DA6-4C54-8D3C-E18FB9556941</key>
		<dict>
			<key>note</key>
			<string>Disconnect VPN</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>9F05901D-E10F-4A6D-A73F-91B601A6FF9A</key>
		<dict>
			<key>note</key>
			<string>Connect VPN</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>C3679DB6-2A8B-4D0F-AEC0-AD87C9469B1D</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>FDE766A9-46CC-4975-9921-EE5CB0A6C6D8</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/alfred-vpn-connector</string>
</dict>
</plist>
